@keyframes loading {
    0%{
        background-position: 200% 0;
    }
    100%{
        background-position: -200% 0;
    }
}

.lng {
    background: linear-gradient(90deg, #e0e0e0 25%, #c0c0c0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
}

.cardCol1L {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    margin: 5px;
}

.cardCol2L {
    height: 100%;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}

/* .imgNameL {
    margin: 5%;
    height: 50%;

} */