.contenedorLogin {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardC {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #0f1e35a8;
    border: 1px solid white;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .cardC {
        width: 80%;
    }
}

.contBtns {
    display: flex;
    height: 5%;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  
}

.logintxt {
    color: white;
    font-size: xx-large;
    margin-bottom: 5%;
}
  
.txt {
    font-family:'Gill Sans', 'Gill Sans MT',  sans-serif;
}
.txtbox {
    display: flex;
    width: 30%;
    height: 3%;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin-bottom: 5%;
    border-radius: 20px;
    resize: none;
    font-size: xx-large;
    text-align: left;
    border: 1px solid black;
    overflow: hidden;
}

.txtbox::placeholder{
    color: rgb(255, 255, 255);
    font-size: 60%;
    text-align: left;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1%;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .txtbox::placeholder {
        font-size: 40%;
    }
}
  
.btn {
    display: flex;
    height: 60%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 80%;
    
}