.contenedorPost {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2015/09/518036-que-no-esta-tema-principal-metal-gear-solid-phantom-pain.jpg);
    /* background-image: url('../assets/img/wallpaper.jpg'); */
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.cuadroPost {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: rgba(58, 58, 58, 0.6);
    border-radius: 50px;
}

.rowPost {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 1%;
}

.rowContPost {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 1%;
    padding: 1%;
}

.txtPost {
    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.textAreaPost {
    display: flex;
    height: 30%;
    width: 50%;
    margin: 5%;
    resize: none;
    color: black;
    background-color: white;
}

.textAreaContPost {
    /* display: flex; */
    height: 80%;
    width: 50%;
    margin: 5%; 
    /* resize: none; */
    color: black;
    background-color: white;
    border-radius: 10px;
    /* text-align: justify; */
    vertical-align: top;
    line-height: normal;
}

.btnPost {
    display: flex;
    margin: 2%;
}

.titletxtPost {
    /* height: 100%;
    width: 50%; */
    font-size: xx-large;
}